Repository calungaproject/plumbing: changes, and which Tekton pipelines are due for each by the changed paths.
All: plumbing-builder-on-push, task-build-python-wheels-on-pull-request, task-push-py-pulp-on-push

plumbing-builder-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/calunga-tenant/plumbing-builder:{{revision}}
  - name: dockerfile
    value: Containerfile
  - name: path-context
    value: builder
  taskRunTemplate:
  ...

task-build-python-wheels-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/calunga-tenant/task-build-python-wheels:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile
  ...

task-push-py-pulp-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/calunga-tenant/task-push-py-pulp:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: tasks/push-py-pulp.yaml
  ...

Modify integration test script to work with Ubuntu image
  tasks/install-and-import-wheels.yaml
Due: none

added auditwheel repair step
  builder/scripts/build-wheels
Due: plumbing-builder-on-push

adding twine to plumbing-utils image
  utils/Containerfile
  utils/requirements.in
  utils/requirements.txt
Due: none

Enable .attestation upload to pulp
  tasks/push-py-pulp.yaml
  utils/scripts/generate-and-sign-attestations
  utils/scripts/pulp-upload
Due: task-push-py-pulp-on-push

updated any konflux references to the latest
  pipelines/release.yaml
  tasks/push-py-pulp.yaml
Due: task-push-py-pulp-on-push

nudging pulp task ref
  pipelines/release.yaml
Due: none

adding setuptools to requirements
  utils/requirements.in
  utils/requirements.txt
Due: none

oops- wrong pip-compile command
  utils/requirements.txt
Due: none

Enable .attestation upload to pulp
  utils/Containerfile
  utils/requirements.in
  utils/requirements.txt
  utils/scripts/generate-and-sign-attestations
  utils/scripts/pulp-upload
Due: none

Add --non-interactive into pulp-upload
  utils/scripts/pulp-upload
Due: none

Fail early in script pulp-upload
  utils/scripts/pulp-upload
Due: none

Reverse order of key and cert in pulp-upload
  utils/scripts/pulp-upload
Due: none

Add empty credentials for Twine
  utils/scripts/pulp-upload
Due: none

Update REPOSITORY_URL var in pulp-upload to /legacy/
  utils/scripts/pulp-upload
Due: none

Remove `pulp/` from PULP_API_ROOT in push-py-pulp task
  tasks/push-py-pulp.yaml
  utils/scripts/pulp-upload
Due: task-push-py-pulp-on-push

Update the pulpApiRoot in the release.yaml
  pipelines/release.yaml
Due: none

migrating to calunga-prod
  pipelines/release.yaml
  utils/scripts/pulp-upload
Due: none

created new secret to be used by twine
  pipelines/release.yaml
  tasks/push-py-pulp.yaml
  utils/scripts/pulp-upload
Due: task-push-py-pulp-on-push

fixed typo; slicker upload; removed pulp-secret
  pipelines/release.yaml
  tasks/push-py-pulp.yaml
  utils/scripts/pulp-upload
Due: task-push-py-pulp-on-push

fixed another typo
  tasks/push-py-pulp.yaml
Due: task-push-py-pulp-on-push

trying to trigger new plumbing-utils
  utils/scripts/pulp-upload
Due: none

Convert attestations to PEP 740 format for Pulp compatibility
  utils/scripts/convert-dsse-to-pep740.py
  utils/scripts/generate-and-sign-attestations
  utils/scripts/pulp-upload
Due: none

Set executable bit on convert-dsse-to-pep740.py
  utils/scripts/convert-dsse-to-pep740.py
Due: none

Switch cosign key to use "redhat-release3"
  pipelines/release.yaml
  tasks/push-py-pulp.yaml
Due: task-push-py-pulp-on-push

Path conditions:
  plumbing-builder-on-push: (any of: builder/***) or (any of: .tekton/plumbing-builder-push.yaml)
  task-build-python-wheels-on-pull-request: ((any of: tasks/build-python-wheels-oci-ta.yaml) or (any of: .tekton/task-build-python-wheels-pull-request.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)
  task-push-py-pulp-on-push: ((any of: tasks/push-py-pulp.yaml) or (any of: .tekton/task-push-py-pulp-push.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)
