Repository calungaproject/plumbing: changes, and which Tekton pipelines are due for each by the changed paths.
All: plumbing-builder-on-push, task-build-python-wheels-on-pull-request, task-push-py-pulp-on-push

Path conditions:
  plumbing-builder-on-push: (any of: builder/***) or (any of: .tekton/plumbing-builder-push.yaml)
  task-build-python-wheels-on-pull-request: ((any of: tasks/build-python-wheels-oci-ta.yaml) or (any of: .tekton/task-build-python-wheels-pull-request.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)
  task-push-py-pulp-on-push: ((any of: tasks/push-py-pulp.yaml) or (any of: .tekton/task-push-py-pulp-push.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)

revert dedupe in collect-build-files; remove SA creds in builder
  builder/Containerfile
  builder/scripts/build-wheels
  builder/scripts/collect-build-files
  tasks/build-python-wheels-oci-ta.yaml
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request

Skip pytest_ imports in wheel integration tests
  tasks/install-and-import-wheels.yaml
Due: none

Check for python3.12 before attempting installation
  tasks/install-and-import-wheels.yaml
Due: none

Update fromager in builder
  builder/requirements.txt
Due: plumbing-builder-on-push

moved dedupe to pulp-upload
  tasks/push-py-pulp.yaml
  utils/Containerfile
  utils/scripts/pulp-upload
Due: task-push-py-pulp-on-push

Update to latest version of actions/checkout
  .github/workflows/test.yml
Due: none

Check for python3.12 and venv before attempting installation
  tasks/install-and-import-wheels.yaml
Due: none

Add builder image pullspec to test-build-wheels
  tests/test-build-wheels.sh
Due: none

Remove redunant push-py-pulp task and release pipeline
  .tekton/task-push-py-pulp-pull-request.yaml
  .tekton/task-push-py-pulp-push.yaml
  pipelines/release.yaml
  tasks/push-py-pulp.yaml
Due: task-push-py-pulp-on-push

Update builder dependencies
  builder/requirements.txt
Due: plumbing-builder-on-push

Don't build image in tests if not necessary
  .github/workflows/test.yml
  tests/test-build-wheels.sh
Due: none

Switch to ubi8 base builder image and build libraries from source
  builder/Containerfile
  builder/build_scripts/build-bzip2.sh
  builder/build_scripts/build-curl.sh
  builder/build_scripts/build-libffi.sh
  builder/build_scripts/build-libjpeg-turbo.sh
  builder/build_scripts/build-libpng.sh
  builder/build_scripts/build-libtiff.sh
  builder/build_scripts/build-libxml2.sh
  builder/build_scripts/build-libxslt.sh
  builder/build_scripts/build-libyaml.sh
  builder/build_scripts/build-openblas.sh
  builder/build_scripts/build-rust.sh
  builder/build_scripts/build-zlib.sh
  builder/build_scripts/build_utils.sh
  builder/build_scripts/install-build-packages.sh
  builder/build_scripts/install-runtime-packages.sh
Due: plumbing-builder-on-push

Use dynamic discovery for source-built library paths in ld.so.conf
  builder/Containerfile
Due: plumbing-builder-on-push

Consolidate buildfs COPY layers using intermediate stage
  builder/Containerfile
Due: plumbing-builder-on-push

Add pkg-config and ldconfig checks for source-built libraries
  builder/tests/run_tests.sh
Due: plumbing-builder-on-push

Remove multi-distro package manager support, keep only dnf/UBI8
  builder/Containerfile
  builder/build_scripts/build-curl.sh
  builder/build_scripts/build-libxslt.sh
  builder/build_scripts/build-tcltk.sh
  builder/build_scripts/build_utils.sh
  builder/build_scripts/fixup-mirrors.sh
  builder/build_scripts/install-build-packages.sh
  builder/build_scripts/install-entrypoint.sh
  builder/build_scripts/install-runtime-packages.sh
  builder/build_scripts/update-system-packages.sh
  builder/tests/run_tests.sh
Due: plumbing-builder-on-push

Add standard-path symlinks for source-built library headers and .so files
  builder/Containerfile
Due: plumbing-builder-on-push

Fix SBOM path in wheels to match with spec
  builder/scripts/inject-sbom
Due: plumbing-builder-on-push

Add markdown files generated by claude code during migration
  builder/IMPLEMENTATION_SUMMARY.md
  builder/LIBRARY_VERSION_STRATEGY.md
  builder/MIGRATION_STATUS.md
  builder/POST_MIGRATION_TESTING.md
  builder/READY_FOR_TESTING.md
  builder/UBI8_MIGRATION_COMPLETE.md
  builder/VERSION_UPDATES.md
Due: plumbing-builder-on-push

Fix OpenSSL 3.5.4 availability: copy from pre-cleanup stage, symlink into system paths
  builder/Containerfile
  builder/OPENSSL_SOURCE_BUILD.md
  builder/build_scripts/build-openssl.sh
  builder/build_scripts/build-tcltk.sh
Due: plumbing-builder-on-push
