Repository calungaproject/plumbing: changes, and which Tekton pipelines are due for each by the changed paths.
All: plumbing-builder-on-push, task-build-python-wheels-on-pull-request, task-push-py-pulp-on-push

Path conditions:
  plumbing-builder-on-push: (any of: builder/***) or (any of: .tekton/plumbing-builder-push.yaml)
  task-build-python-wheels-on-pull-request: ((any of: tasks/build-python-wheels-oci-ta.yaml) or (any of: .tekton/task-build-python-wheels-pull-request.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)
  task-push-py-pulp-on-push: ((any of: tasks/push-py-pulp.yaml) or (any of: .tekton/task-push-py-pulp-push.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)

Replace Syft with Fromager's native SBOM generation
  builder/Containerfile
  builder/overrides/settings.yaml
  builder/requirements.in
  builder/requirements.txt
  builder/scripts/build-wheels
  builder/scripts/inject-sbom
  tasks/build-python-wheels-oci-ta.yaml
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request

Increase timeout for the GH action test job
  .github/workflows/test.yml
Due: none

Remove auditwheel SBOM & add file_name to Fromager PURL
  builder/Containerfile
  builder/overrides/settings.yaml
  builder/requirements.in
  builder/requirements.txt
  builder/scripts/build-wheels
  builder/scripts/patch-sbom-purl
Due: plumbing-builder-on-push

Wire source-built zlib, bzip2, libpng & libtiff into Containerfile
  builder/Containerfile
  builder/build_scripts/build-bzip2.sh
  builder/build_scripts/build-libtiff.sh
  builder/build_scripts/build-zlib.sh
Due: plumbing-builder-on-push

Rename Fromager SBOM to redhat.spdx.json inside built wheels
  builder/scripts/build-wheels
  builder/scripts/patch-sbom-purl
Due: plumbing-builder-on-push

Rewrite wheel import verification with zip-based detection
  tasks/install-and-import-wheels.yaml
Due: none

Add wheel cache authentication for build-wheels
  builder/scripts/build-wheels
  tasks/build-python-wheels-oci-ta.yaml
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request

Update install-and-import-wheels to show failure reason
  tasks/install-and-import-wheels.yaml
Due: none

Fix underscore filter to check all components of namespace imports
  tasks/install-and-import-wheels.yaml
Due: none

Keep underscore-prefixed imports when no public names exist
  tasks/install-and-import-wheels.yaml
Due: none

Update Rust toolchain from 1.94.0 to 1.95.0
  builder/Containerfile
Due: plumbing-builder-on-push

Add libomp (LLVM OpenMP 20.1.6) to the builder image
  builder/Containerfile
  builder/build_scripts/build-libomp.sh
Due: plumbing-builder-on-push

Expose wheel-internal shared libs to auditwheel during repair
  builder/scripts/build-wheels
Due: plumbing-builder-on-push

CALUNGA-268: Increase builder build-container resources from 4.6cpu/8Gi to 8cpu/12Gi and pipeline timeout from 2h to 3h
  .tekton/plumbing-builder-pull-request.yaml
  .tekton/plumbing-builder-push.yaml
Due: plumbing-builder-on-push

CALUNGA-268: Increase build-container task timeout from 2h (default) to 3h
  .tekton/plumbing-builder-pull-request.yaml
  .tekton/plumbing-builder-push.yaml
Due: plumbing-builder-on-push

Improve push-py-pulp error handling and upload visibility
  utils/scripts/pulp-upload
Due: none

chore(CALUNGA-246): add CPU resource limits to build-wheels task
  tasks/build-python-wheels-oci-ta.yaml
Due: task-build-python-wheels-on-pull-request

Add system library dependencies to Fromager SBOM via auditwheel
  builder/scripts/add_system_deps_to_sbom.py
  builder/scripts/build-wheels
  builder/scripts/test-add-system-deps
Due: plumbing-builder-on-push

Add combined venv fallback for cross-package import testing
  tasks/install-and-import-wheels.yaml
Due: none

Add trusted_task_rules for build-python-wheels-oci-ta
  policy-data/trusted_task_rules.yaml
Due: none
