Repository calungaproject/plumbing: changes, and which Tekton pipelines are due for each by the changed paths.
All: plumbing-builder-on-push, task-build-python-wheels-on-pull-request, task-push-py-pulp-on-push

Path conditions:
  plumbing-builder-on-push: (any of: builder/***) or (any of: .tekton/plumbing-builder-push.yaml)
  task-build-python-wheels-on-pull-request: ((any of: tasks/build-python-wheels-oci-ta.yaml) or (any of: .tekton/task-build-python-wheels-pull-request.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)
  task-push-py-pulp-on-push: ((any of: tasks/push-py-pulp.yaml) or (any of: .tekton/task-push-py-pulp-push.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)

query pulp for package dupes
  builder/scripts/collect-build-files
  tasks/build-python-wheels-oci-ta.yaml
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request

adding libxml2 and libxslt to builder image
  builder/Containerfile
Due: plumbing-builder-on-push

swapped to -devel versions per sourcery suggestion
  builder/Containerfile
Due: plumbing-builder-on-push

fixed dedupe script
  builder/scripts/collect-build-files
Due: plumbing-builder-on-push

Fix issues in collect-build-files script
  builder/scripts/collect-build-files
Due: plumbing-builder-on-push

Update BASEIMAGE in builder/Containerfile
  builder/Containerfile
Due: plumbing-builder-on-push

skip netrc setup when SERVICE_ACCOUNT credentials not set
  builder/scripts/build-wheels
Due: plumbing-builder-on-push

Extract Pulp API URL to variable
  builder/scripts/collect-build-files
Due: plumbing-builder-on-push

removed dedupe code for now
  builder/scripts/collect-build-files
Due: plumbing-builder-on-push

Add openssl-devel to build image
  builder/Containerfile
Due: plumbing-builder-on-push

Move generating and signing attestations to release step
  pipelines/release.yaml
  tasks/extract-py-artifacts.yaml
  tasks/upload-py-pulp.yaml
Due: none

added several more dnf installs to builder
  builder/Containerfile
Due: plumbing-builder-on-push

Use package metadata to get the correct package import name
  tasks/install-and-import-wheels.yaml
Due: none

Use 'EOF' in quotes in the verify_import script
  tasks/install-and-import-wheels.yaml
Due: none

Handle extension libs in import-wheels test
  tasks/install-and-import-wheels.yaml
Due: none

Fix multiple top-level entry points in import-wheels check
  tasks/install-and-import-wheels.yaml
Due: none

Simplify the module identification in import-wheels test
  tasks/install-and-import-wheels.yaml
Due: none

added syft and wheel-patcher to builder image
  builder/Containerfile
  builder/requirements.in
  builder/requirements.txt
  tasks/build-python-wheels-oci-ta.yaml
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request

Inject SPDX SBOMs inside wheels using syft and wheel-patcher
  builder/scripts/inject-sbom
  tasks/build-python-wheels-oci-ta.yaml
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request

Fix cross-device link error in inject-sbom
  builder/scripts/inject-sbom
Due: plumbing-builder-on-push

Edit inject-sbom message
  builder/scripts/inject-sbom
Due: plumbing-builder-on-push

Fix cross-device link error in inject-sbom
  builder/scripts/inject-sbom
  tasks/build-python-wheels-oci-ta.yaml
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request

Edit the inject-sbom script
  builder/scripts/inject-sbom
Due: plumbing-builder-on-push

Update wheel-patcher git URL
  builder/Containerfile
  builder/scripts/inject-sbom
Due: plumbing-builder-on-push
