Repository calungaproject/plumbing: changes, and which Tekton pipelines are due for each by the changed paths.
All: plumbing-builder-on-push, task-build-python-wheels-on-pull-request, task-push-py-pulp-on-push

Path conditions:
  plumbing-builder-on-push: (any of: builder/***) or (any of: .tekton/plumbing-builder-push.yaml)
  task-build-python-wheels-on-pull-request: ((any of: tasks/build-python-wheels-oci-ta.yaml) or (any of: .tekton/task-build-python-wheels-pull-request.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)
  task-push-py-pulp-on-push: ((any of: tasks/push-py-pulp.yaml) or (any of: .tekton/task-push-py-pulp-push.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)

Fix pytest_ filter stripping only import from pytest plugin wheels
  tasks/install-and-import-wheels.yaml
Due: none

Redesign Phase 2 of install-and-import-wheels to use build-sequence groups
  tasks/install-and-import-wheels.yaml
Due: none

Adding new trusted task policy for npm
  policy-data/trusted_task_rules.yaml
Due: none

Add better logging to npm build and smoke test
  npm-builder/scripts/build-npm-package
Due: none

Replace deprecated buildah-task with task-runner
  tasks/install-and-import-wheels.yaml
Due: none

Move tekton task inline to builder image scripts
  npm-builder/scripts/build-npm-packages
  npm-builder/scripts/collect-npm-package-outputs
Due: none

Fix logic when there is only infra changes without pkgs
  tasks/build-npm-package-oci-ta.yaml
Due: none

Fix permission denied cause of readonly fs
  tasks/build-npm-package-oci-ta.yaml
Due: none

Add --package-settings-dir option to build-wheels
  builder/scripts/build-wheels
  tasks/build-python-wheels-oci-ta.yaml
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request

Add hack/latest-image to determine the latest built image
  hack/latest-image
Due: none

feat(builder): add fromager plugin and patches for faiss-cpu
  builder/Containerfile
  builder/overrides/package_plugins/pyproject.toml
  builder/overrides/package_plugins/src/package_plugins/__init__.py
  builder/overrides/package_plugins/src/package_plugins/faiss_cpu.py
  builder/overrides/patches/faiss_cpu-1.9.0/001-add-pyproject-toml.patch
  builder/overrides/patches/faiss_cpu-1.9.0/002-rename-package-to-faiss-cpu.patch
  builder/overrides/patches/faiss_cpu/010-use-python-development-module-only.patch
  builder/scripts/build-wheels
Due: plumbing-builder-on-push

fix(builder): handle max_jobs=None explicitly in faiss-cpu plugin
  builder/overrides/package_plugins/src/package_plugins/faiss_cpu.py
Due: plumbing-builder-on-push

Support C++ 20 via gcc 14
  npm-builder/Containerfile
  npm-builder/README.md
  npm-builder/build_scripts/install-gcc-toolset.sh
  npm-builder/build_scripts/install-rust-toolset.sh
  npm-builder/gcc-toolset.lock
Due: none

Fix Phase 2 version parsing for git-sourced packages
  tasks/install-and-import-wheels.yaml
Due: none

Improve Phase 2 skip warning to show the group label
  tasks/install-and-import-wheels.yaml
Due: none

feat(build-wheels): add -c/--constraint flag for constraints file support
  builder/scripts/build-wheels
Due: plumbing-builder-on-push

feat(task): add CONSTRAINT_FILES param to build-python-wheels-oci-ta
  tasks/build-python-wheels-oci-ta.yaml
Due: task-build-python-wheels-on-pull-request

fix(faiss-cpu): fix plugin and patches for faiss-wheels submodule build
  builder/overrides/package_plugins/src/package_plugins/faiss_cpu.py
  builder/overrides/patches/faiss_cpu-1.9.0/001-add-pyproject-toml.patch
  builder/overrides/patches/faiss_cpu-1.9.0/001-rename-package-to-faiss-cpu.patch
  builder/overrides/patches/faiss_cpu/010-use-python-development-module-only.patch
Due: plumbing-builder-on-push

Filter wheel-check tests to only test wheels built from source
  tasks/install-and-import-wheels.yaml
Due: none

feat(builder): add Apache Arrow C++ 25.0.0 build stage for pyarrow support
  builder/Containerfile
  builder/build_scripts/build-arrow.sh
Due: plumbing-builder-on-push

Add SBOM generation logic to include with npm pkgs
  npm-builder/Containerfile
  npm-builder/README.md
  npm-builder/scripts/generate-npm-sbom
  tasks/build-npm-package-oci-ta.yaml
  utils/scripts/generate-and-sign-npm-attestations
Due: none
