Repository calungaproject/plumbing: changes, and which Tekton pipelines are due for each by the changed paths.
All: plumbing-builder-on-push, task-build-python-wheels-on-pull-request, task-push-py-pulp-on-push

Path conditions:
  plumbing-builder-on-push: (any of: builder/***) or (any of: .tekton/plumbing-builder-push.yaml)
  task-build-python-wheels-on-pull-request: ((any of: tasks/build-python-wheels-oci-ta.yaml) or (any of: .tekton/task-build-python-wheels-pull-request.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)
  task-push-py-pulp-on-push: ((any of: tasks/push-py-pulp.yaml) or (any of: .tekton/task-push-py-pulp-push.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)

don't collect wheels that were prebuilt
  builder/scripts/collect-build-files
  utils/scripts/pulp-upload
Due: plumbing-builder-on-push

mount secret for build script
  builder/scripts/build-wheels
  tasks/build-python-wheels-oci-ta.yaml
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request

changed how secrets are mounted, fixed pip.conf
  builder/scripts/build-wheels
  tasks/build-python-wheels-oci-ta.yaml
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request

removd extra touch command
  builder/scripts/build-wheels
Due: plumbing-builder-on-push

fix busted yaml
  tasks/build-python-wheels-oci-ta.yaml
Due: task-build-python-wheels-on-pull-request

fixed bad yaml
  tasks/build-python-wheels-oci-ta.yaml
Due: task-build-python-wheels-on-pull-request

swapping pipconf to netrc
  builder/scripts/build-wheels
Due: plumbing-builder-on-push

create netrc first
  builder/scripts/build-wheels
Due: plumbing-builder-on-push

fixed netrc path
  builder/Containerfile
  builder/scripts/build-wheels
Due: plumbing-builder-on-push

upload wheels one at a time and handle errors better
  utils/scripts/pulp-upload
Due: none

fix twine upload to include atts
  utils/scripts/pulp-upload
Due: none

migrating to packages.redhat.com
  builder/scripts/build-wheels
  pipelines/release.yaml
Due: plumbing-builder-on-push

move to renamed domain
  pipelines/release.yaml
Due: none

swapped the service account for builder process
  tasks/build-python-wheels-oci-ta.yaml
Due: task-build-python-wheels-on-pull-request

mount the secret in the test
  .github/workflows/test.yml
Due: none

adding cargo and rust deps to builder
  builder/Containerfile
Due: plumbing-builder-on-push

reverted test yaml
  .github/workflows/test.yml
Due: none

also added in libffi-devel in hopes of solving other failures
  builder/Containerfile
Due: plumbing-builder-on-push

added libpeg + clean dnf cache
  builder/Containerfile
Due: plumbing-builder-on-push

added libyaml to builder
  builder/Containerfile
Due: plumbing-builder-on-push

query pulp for package dupes
  builder/scripts/collect-build-files
  tasks/build-python-wheels-oci-ta.yaml
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request
