Repository calungaproject/plumbing: changes, and which Tekton pipelines are due for each by the changed paths.
All: plumbing-builder-on-push, task-build-python-wheels-on-pull-request, task-push-py-pulp-on-push

Path conditions:
  plumbing-builder-on-push: (any of: builder/***) or (any of: .tekton/plumbing-builder-push.yaml)
  task-build-python-wheels-on-pull-request: ((any of: tasks/build-python-wheels-oci-ta.yaml) or (any of: .tekton/task-build-python-wheels-pull-request.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)
  task-push-py-pulp-on-push: ((any of: tasks/push-py-pulp.yaml) or (any of: .tekton/task-push-py-pulp-push.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)

bump twine to 7.0.0 to support Core Metadata 2.5 (PEP 794)
  utils/requirements.in
  utils/requirements.txt
Due: none

Address review feedback: venv error handling, pip JSON warning, input validation, backward-compat tests
  tasks/scripts/wheel-check/run_wheel_check.py
  tasks/scripts/wheel-check/test_run_wheel_check.py
  tasks/scripts/wheel-check/test_wheel_helpers.py
Due: none

Create driver scripts for single command tasks on RSC
  npm-builder/scripts/assess-npm-compliance
  npm-builder/scripts/build-npm-packages
  npm-builder/scripts/collect-npm-package-outputs
  npm-builder/scripts/verify-npm-sbom
  tasks/build-npm-package-oci-ta.yaml
  tasks/promote-npm-oci-ta.yaml
  utils/Containerfile
  utils/scripts/npm-common.sh
  utils/scripts/npm-populate-release-notes
  utils/scripts/npm-pulp-upload
  utils/scripts/npm-release-extract
  utils/scripts/npm-release-upload
  utils/tests/run_tests.sh
Due: none

Fixing oras images not having find command
  tasks/build-npm-package-oci-ta.yaml
  tasks/promote-npm-oci-ta.yaml
Due: none

Create LICENSE
  LICENSE
Due: none

Extract wheel-check bash orchestration into Python
  tasks/install-and-import-wheels.yaml
  tasks/scripts/wheel-check/run_wheel_check.py
  tasks/scripts/wheel-check/test_run_wheel_check.py
  tasks/scripts/wheel-check/test_wheel_helpers.py
  tasks/scripts/wheel-check/wheel_helpers.py
Due: none

Fixing issue with verify sbom logic with pipefail
  npm-builder/scripts/verify-npm-sbom
Due: none

Allow compliance file to be writable under artifacts
  tasks/promote-npm-oci-ta.yaml
Due: none

Add Support for slsa v0.2 during npm extract
  utils/scripts/npm-fetch-chains-provenance
  utils/tests/run_tests.sh
Due: none

Fix npm pulp upload repository failure
  utils/scripts/npm-pulp-upload
  utils/tests/run_tests.sh
Due: none

Restore auth credentials for builder wheel cache access
  .tekton/build-pipeline.yaml
  .tekton/bundle-build-pipeline.yaml
  builder/scripts/build-wheels
  tasks/build-python-wheels-oci-ta.yaml
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request, task-push-py-pulp-on-push

Updating assess npm compliance to check from pakages.json
  .gitignore
  hack/npm-pulp-api-probe.sh
  npm-builder/Containerfile
  npm-builder/README.md
  npm-builder/scripts/assess-npm-compliance
  npm-builder/scripts/lookup-npm-tl-compliance
  npm-builder/tests/run_tests.sh
  npm-builder/tests/test_assess_npm_compliance.sh
  npm-builder/tests/test_lookup_npm_tl_compliance.py
  tasks/promote-npm-oci-ta.yaml
Due: none

Adding dependency closure logic
  hack/npm-closure-probe
  hack/npm-pulp-api-probe.sh
  hack/npm_closure_probe/__init__.py
  hack/npm_closure_probe/add.py
  hack/npm_closure_probe/assess.py
  hack/npm_closure_probe/cli.py
  hack/npm_closure_probe/e2e.py
  hack/npm_closure_probe/env.py
  hack/npm_closure_probe/oci.py
  hack/npm_closure_probe/publish.py
  hack/npm_closure_probe/pulp.py
  hack/npm_closure_probe/runner.py
  hack/npm_closure_probe/verify.py
  npm-builder/README.md
  npm-builder/scripts/assess-npm-compliance
  npm-builder/tests/test_assess_npm_compliance.sh
  npm-builder/tests/test_lookup_npm_tl_compliance.py
  utils/Containerfile
  utils/scripts/npm-rebalance-closure
  utils/scripts/npm-release-closure-update
  utils/scripts/npm_semver.py
  utils/scripts/update-npm-closure
  utils/tests/run_tests.sh
  utils/tests/test_update_npm_closure.py
Due: none

pulp-upload: Remove --silent from curl calls
  utils/scripts/pulp-upload
Due: none

Restore auth for Pulp read queries in upload scripts
  utils/scripts/pulp-upload
  utils/scripts/pulp-upload-attestations
Due: none

Consolidate logic from RSC task into plubing scripts
  hack/npm_closure_probe/publish.py
  utils/scripts/npm-release-closure-update
  utils/tests/run_tests.sh
Due: none

Add denylist support to collect-build-files to prevent transitive deps from being released
  .github/workflows/test.yml
  builder/scripts/collect-build-files
  tasks/build-python-wheels-oci-ta.yaml
  tests/test-collect-build-files.sh
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request

Add sast-snyk-check-sdist to the EC trusted task allow list
  policy-data/trusted_task_rules.yaml
Due: none

Add freetype and libwebp to builder image
  builder/Containerfile
  builder/build_scripts/build-freetype.sh
  builder/build_scripts/build-libwebp.sh
Due: plumbing-builder-on-push

Add lcms2, openjpeg, libavif, and aom to builder image
  builder/Containerfile
  builder/build_scripts/build-aom.sh
  builder/build_scripts/build-lcms2.sh
  builder/build_scripts/build-libavif.sh
  builder/build_scripts/build-openjpeg.sh
Due: plumbing-builder-on-push

Build FFmpeg shared libs for OpenCV video-I/O parity
  builder/Containerfile
  builder/build_scripts/build-ffmpeg.sh
Due: plumbing-builder-on-push

Bump OpenBLAS 0.3.31 -> 0.3.34 to match PyPI numpy
  builder/Containerfile
Due: plumbing-builder-on-push

Switch OpenBLAS from OpenMP to pthreads threading
  builder/build_scripts/build-openblas.sh
Due: plumbing-builder-on-push

Enable full pyarrow parity: ORC, Substrait, Flight, Parquet-encryption, S3/GCS/Azure
  builder/Containerfile
  builder/build_scripts/build-arrow.sh
  builder/build_scripts/build-curl.sh
Due: plumbing-builder-on-push
