Repository calungaproject/plumbing: changes, and which Tekton pipelines are due for each by the changed paths.
All: plumbing-builder-on-push, task-build-python-wheels-on-pull-request, task-push-py-pulp-on-push

plumbing-builder-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/calunga-tenant/plumbing-builder:{{revision}}
  - name: dockerfile
    value: Containerfile
  - name: path-context
    value: builder
  taskRunTemplate:
  ...

task-build-python-wheels-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/calunga-tenant/task-build-python-wheels:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile
  ...

task-push-py-pulp-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/calunga-tenant/task-push-py-pulp:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: tasks/push-py-pulp.yaml
  ...

update formatting, tests
  tests/test-build-wheels.sh
Due: none

Update UBI8 base image to latest (8.10, 2026-06-17)
  builder/Containerfile
Due: plumbing-builder-on-push

Address review feedback for check-source-origin task
  tasks/check-source-origin.yaml
Due: none

Add check-source-origin Tekton task for sdist supply-chain verification
  tasks/check-source-origin.yaml
Due: none

Distinguish invalid PACKAGES JSON from empty package list
  tasks/check-source-origin.yaml
Due: none

Use main branch for CSO_GIT_REF default
  tasks/check-source-origin.yaml
Due: none

Remove file_name from PURL in upstream section of SBOM
  builder/scripts/patch-sbom-purl
  tests/test-build-wheels.sh
Due: plumbing-builder-on-push

Add multi-arch builder pipeline for amd64 + arm64 support
  .tekton/build-multiarch-pipeline.yaml
  .tekton/plumbing-builder-pull-request.yaml
  .tekton/plumbing-builder-push.yaml
  builder/Containerfile
  builder/build_scripts/build_utils.sh
  builder/manylinux-entrypoint
Due: plumbing-builder-on-push

Fix Rust checksum verification for aarch64 builds
  builder/Containerfile
  builder/build_scripts/build-rust.sh
Due: plumbing-builder-on-push

Fix build-image-index by defaulting build-image-index param to true
  .tekton/build-multiarch-pipeline.yaml
Due: none

Fix AUDITWHEEL_PLAT not being recomputed after arch auto-detection
  builder/build_scripts/build_utils.sh
  builder/manylinux-entrypoint
Due: plumbing-builder-on-push

Replace hardcoded linux_x86_64 globs in build-wheels with arch detection
  builder/scripts/build-wheels
Due: plumbing-builder-on-push

Change snyk sdist scan to ERROR on missing token, WARNING on no sdists
  tasks/sast-snyk-check-sdist.yaml
Due: none

docs: add git source URL examples to build-wheels documentation
  builder/scripts/build-wheels
  tasks/build-python-wheels-oci-ta.yaml
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request

Redesign Phase 2 of install-and-import-wheels to use build-sequence groups
  tasks/install-and-import-wheels.yaml
Due: none

feat(builder): add PEP 440 local version identifier support for built wheels
  builder/scripts/add-local-version
  builder/scripts/build-wheels
  tasks/build-python-wheels-oci-ta.yaml
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request

feat(task): allow overriding build scripts via git clone
  tasks/build-python-wheels-oci-ta.yaml
Due: task-build-python-wheels-on-pull-request

fix(task): move param interpolation out of script block
  tasks/build-python-wheels-oci-ta.yaml
Due: task-build-python-wheels-on-pull-request

feat(task): support git token for cloning private package repos
  tasks/build-python-wheels-oci-ta.yaml
Due: task-build-python-wheels-on-pull-request

fix(task): install wheel package for add-local-version script
  tasks/build-python-wheels-oci-ta.yaml
Due: task-build-python-wheels-on-pull-request

fix(builder): use venv python in add-local-version shebang
  builder/scripts/add-local-version
  tasks/build-python-wheels-oci-ta.yaml
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request

feat(builder): add local version identifier support for sdists
  builder/scripts/add-local-version-sdist
  builder/scripts/build-wheels
Due: plumbing-builder-on-push

Fix Phase 2 fallback bugs found during code review
  tasks/install-and-import-wheels.yaml
Due: none

Add FAIL_SEVERITY param and fix result severities
  tasks/check-source-origin.yaml
Due: none

Address PR #319 review comments
  tasks/install-and-import-wheels.yaml
Due: none

Remove auth credentials from builder wheel cache access
  .tekton/build-pipeline.yaml
  .tekton/bundle-build-pipeline.yaml
  builder/scripts/build-wheels
  tasks/build-python-wheels-oci-ta.yaml
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request, task-push-py-pulp-on-push

Modify output directory to a rw location
  npm-builder/Containerfile
  npm-builder/scripts/build-npm-package
  npm-builder/scripts/build-npm-packages
  npm-builder/scripts/collect-npm-artifacts
  npm-builder/scripts/collect-npm-package-outputs
  npm-builder/scripts/npm-workdir-env.sh
  npm-builder/scripts/npm-workdir-load.sh
  npm-builder/scripts/record-npm-packages-built
  tasks/build-npm-package-oci-ta.yaml
Due: none

Adding wrapper for shasum to npm builder
  npm-builder/Containerfile
  npm-builder/scripts/shasum
Due: none

Fix pytest_ filter stripping only import from pytest plugin wheels
  tasks/install-and-import-wheels.yaml
Due: none

Path conditions:
  plumbing-builder-on-push: (any of: builder/***) or (any of: .tekton/plumbing-builder-push.yaml)
  task-build-python-wheels-on-pull-request: ((any of: tasks/build-python-wheels-oci-ta.yaml) or (any of: .tekton/task-build-python-wheels-pull-request.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)
  task-push-py-pulp-on-push: ((any of: tasks/push-py-pulp.yaml) or (any of: .tekton/task-push-py-pulp-push.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)
