Repository calungaproject/plumbing: changes, and which Tekton pipelines are due for each by the changed paths.
All: plumbing-builder-on-push, task-build-python-wheels-on-pull-request, task-push-py-pulp-on-push

Path conditions:
  plumbing-builder-on-push: (any of: builder/***) or (any of: .tekton/plumbing-builder-push.yaml)
  task-build-python-wheels-on-pull-request: ((any of: tasks/build-python-wheels-oci-ta.yaml) or (any of: .tekton/task-build-python-wheels-pull-request.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)
  task-push-py-pulp-on-push: ((any of: tasks/push-py-pulp.yaml) or (any of: .tekton/task-push-py-pulp-push.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)

Update wheel-patcher git URL
  builder/Containerfile
  builder/scripts/inject-sbom
Due: plumbing-builder-on-push

Change permissions on inject-sbom
  builder/scripts/inject-sbom
Due: plumbing-builder-on-push

Handle edgecases in inject-sbom
  builder/scripts/inject-sbom
Due: plumbing-builder-on-push

check for existing sbom before syft+wheel-patcher
  builder/scripts/inject-sbom
Due: plumbing-builder-on-push

manual nudge
  tasks/build-python-wheels-oci-ta.yaml
Due: task-build-python-wheels-on-pull-request

fixed grep command
  builder/scripts/inject-sbom
Due: plumbing-builder-on-push

Replace anchore-syft PyPI package with syft binary from GitHub releases
  builder/Containerfile
  builder/requirements.in
  builder/requirements.txt
Due: plumbing-builder-on-push

only collect pure-python or manylinux wheels
  builder/scripts/collect-build-files
Due: plumbing-builder-on-push

Point wheel-patcher install to calungaproject org
  builder/Containerfile
Due: plumbing-builder-on-push

Migrate Pulp URL to public-trusted-libraries
  builder/scripts/collect-build-files
  pipelines/release.yaml
Due: plumbing-builder-on-push

Enhance fallback detection in wheel import verification
  tasks/install-and-import-wheels.yaml
Due: none

Allow conditional module import failures in wheel smoke test
  tasks/install-and-import-wheels.yaml
Due: none

don't collect cached wheels
  builder/scripts/collect-build-files
  tasks/build-python-wheels-oci-ta.yaml
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request

small usage change + retry
  builder/scripts/collect-build-files
Due: plumbing-builder-on-push

Fix unbound var error in collect-build-files
  builder/scripts/collect-build-files
Due: plumbing-builder-on-push

added jq to builder container
  builder/Containerfile
Due: plumbing-builder-on-push

upgrade curl in builder
  builder/Containerfile
Due: plumbing-builder-on-push

replace curl with libcurl-devel
  builder/Containerfile
Due: plumbing-builder-on-push

revert curl in containerfile; use -G -d instead of --url-query
  builder/Containerfile
  builder/scripts/collect-build-files
Due: plumbing-builder-on-push

Remove ability to upload without attestations in pulp-upload
  utils/scripts/pulp-upload
Due: none

--data-urlencode instead of -d; remove -e in jq
  builder/scripts/collect-build-files
Due: plumbing-builder-on-push

moved dedupe to pulp-upload
  builder/Containerfile
  builder/scripts/collect-build-files
  pipelines/release.yaml
  tasks/build-python-wheels-oci-ta.yaml
  tasks/push-py-pulp.yaml
  utils/Containerfile
  utils/scripts/pulp-upload
Due: plumbing-builder-on-push, task-build-python-wheels-on-pull-request, task-push-py-pulp-on-push
