Repository calungaproject/plumbing: changes, and which Tekton pipelines are due for each by the changed paths.
All: plumbing-builder-on-push, task-build-python-wheels-on-pull-request, task-push-py-pulp-on-push

Path conditions:
  plumbing-builder-on-push: (any of: builder/***) or (any of: .tekton/plumbing-builder-push.yaml)
  task-build-python-wheels-on-pull-request: ((any of: tasks/build-python-wheels-oci-ta.yaml) or (any of: .tekton/task-build-python-wheels-pull-request.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)
  task-push-py-pulp-on-push: ((any of: tasks/push-py-pulp.yaml) or (any of: .tekton/task-push-py-pulp-push.yaml)) or (any of: .tekton/bundle-build-pipeline.yaml)

Red Hat Konflux kflux-prd-rh03 update task-get-config
  .tekton/task-get-config-pull-request.yaml
  .tekton/task-get-config-push.yaml
Due: none

Re-use bundle build task
  .tekton/task-get-config-pull-request.yaml
  .tekton/task-get-config-push.yaml
Due: none

Only rebuild get-config task on relevant changes
  .tekton/task-get-config-pull-request.yaml
  .tekton/task-get-config-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh03 update plumbing-pipelines
  .tekton/plumbing-pipelines-pull-request.yaml
  .tekton/plumbing-pipelines-push.yaml
Due: none

Reuse bundle-build pipeline
  .tekton/plumbing-pipelines-pull-request.yaml
  .tekton/plumbing-pipelines-push.yaml
Due: none

Use task bundles in release pipeline
  pipelines/release.yaml
Due: none

Fix ref to push-py-pulp
  pipelines/release.yaml
Due: none

Add default value for taskGitRevision
  pipelines/release.yaml
Due: none

Add support for building multiple packages
  builder/scripts/build-wheels
  tests/test-build-wheels.sh
Due: plumbing-builder-on-push

Simplify work-dir cleanup logic per PR feedback
  builder/scripts/build-wheels
Due: plumbing-builder-on-push

Address PR feedback: fix collect-build-files and improve documentation
  builder/scripts/build-wheels
  builder/scripts/collect-build-files
  tests/test-build-wheels.sh
Due: plumbing-builder-on-push

Log files and their checksums in build-wheels
  builder/scripts/build-wheels
  tests/test-build-wheels.sh
Due: plumbing-builder-on-push

Capture output files from tests
  tests/test-build-wheels.sh
Due: none

Add Rust toolchain support for Python packages with Rust dependencies
  builder/Containerfile
Due: plumbing-builder-on-push

Add openssl-devel package for Rust dependencies
  builder/Containerfile
Due: plumbing-builder-on-push

Update dependency pyyaml to v6.0.3
  builder/requirements.txt
  utils/requirements.txt
Due: plumbing-builder-on-push

Update dependency click to v8.3.0
  builder/requirements.txt
  utils/requirements.txt
Due: plumbing-builder-on-push

Change image format to oci
  .tekton/build-pipeline.yaml
Due: none

Update quay.io/konflux-ci/konflux-vanguard/task-rpms-signature-scan:0.2 Docker digest to 0697723
  .tekton/build-pipeline.yaml
Due: none

Update dependency types-psutil to v7.0.0.20251001
  builder/requirements-build.txt
Due: plumbing-builder-on-push

Update dependency typing-inspection to v0.4.2
  builder/requirements.txt
Due: plumbing-builder-on-push

Update Konflux references
  .tekton/build-pipeline.yaml
  .tekton/bundle-build-pipeline.yaml
Due: task-build-python-wheels-on-pull-request, task-push-py-pulp-on-push

Update dependency maturin to v1.9.5
  builder/requirements-build.txt
Due: plumbing-builder-on-push

Update dependency pydantic to v2.11.10
  builder/requirements.txt
Due: plumbing-builder-on-push

Update dependency certifi to v2025.10.5
  builder/requirements.txt
  utils/requirements.txt
Due: plumbing-builder-on-push

Update dependency maturin to v1.9.6
  builder/requirements-build.txt
Due: plumbing-builder-on-push

Update dependency resolvelib to v1.2.1
  builder/requirements.txt
Due: plumbing-builder-on-push

test
  pipelines/release.yaml
  tasks/sign-python-wheels.yaml
Due: none

TESTING
  pipelines/release.yaml
  tasks/push-py-pulp.yaml
  tasks/sign-python-wheels.yaml
Due: task-push-py-pulp-on-push

Add UBI9-based builder image with Python 3.12
  builder/examples/Containerfile.ubi9
Due: plumbing-builder-on-push

Document CI usage
  .tekton/README.md
  README.md
Due: none

Add task to release pipeline to generate signatures for each wheel
  .tekton/build-pipeline.yaml
  pipelines/release.yaml
  tasks/push-py-pulp.yaml
  utils/scripts/generate-and-sign-attestations
  utils/scripts/pulp-upload
Due: task-push-py-pulp-on-push

Add ClamAV malware scanning step to wheel build task
  tasks/build-python-wheels-oci-ta.yaml
Due: task-build-python-wheels-on-pull-request

Add integration test for installing and importing built wheels
  pipelines/wheel-integration-test.yaml
  tasks/install-and-import-wheels.yaml
Due: none

fix: Add missing dist package normalization to integration test task
  tasks/install-and-import-wheels.yaml
Due: none

moved test-build-wheels.sh into builder/tests
  builder/Containerfile
  builder/tests/test-build-wheels.sh
Due: plumbing-builder-on-push

Remove pip package installation from integration test script
  tasks/install-and-import-wheels.yaml
Due: none
